/.metadata/
/autotest/
/CucumberMavenTestProject/
/CucumberTestProject/
/demo123/
/demo223/
/demo323/
/DockerTest1/
/FinalAttempt1/
/FinalAttempt2/
/Hospital/
/RealFinalProject1/
/spring-boot-jewellery-store-app/
/SpringJDBCDemo/
/test/
/Testing1/
/TestingDemo/
/thytest/
/TrainTicketGeneration/
/TrainTicketGeneration2/
/UnitDemo/